BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
